<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About MEMORY</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <nav class="navbar">
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/excuses'>Excuses</a></li>
            <li><a href='/notes'>Notes</a></li>
            <li><a href='/exercises'>Excercises</a></li>
            <li><a href='/memories'>Good Memories</a></li>
        </ul>
    </nav>
    <div class = "container">
<h1>
    About Memory
</h1>
    </div>
</head>
<body>

    <div class="description">
        <h2></h2>
        <p>Memory is a Website to help those who have truble remembering important and/or everyday stuff.
            How many times did you forget about a chore or call you had to do? We offer you notes to write all of the important things of your day.
            How many times, when sad, do you forget all of your accomplishments or happy memories? You can now,by selecting why you're sad get reminded of all the beautiful things that you did or that heappened to you.
            And if you're happy because you made an achivement in the workplace or because you have experienced a happy day, you can input the jolly thought and have it when the sad times come.
            If you want to train your memory we give you everyday a new number between 0 and 1000 and you have to keep it in mind until the next day,when you will be able to input it and check if you remembered correctly.
            Another thing, if you need an excuse to get out of some invite or for not having done some work or assignment, you can randomly get one when you need. And to avoid unpleasent situations you can then write the person and the excuse you used to not make a bad impression forgetting why you declined the invite.

        </p>
    </div>

</body>
</html>


