<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>MEMORY</title>
</head>
<body id="home">
    <!-- Navigation bar -->
    <nav class="navbar">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/excuses">Excuses</a></li>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/exercises">Exercises</a></li>
            <li><a href="/memories">Good Memories</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1 style="font-size: 70px; color: #8E94F2;">MEMORY</h1>
    </div>
</body>
</html>
